*{
    font-family: 'Roboto', sans-serif;
}

.container-navbar{
    background-color: #0477BF;
}

.navbar{
    display: flex;
    justify-content: space-around;
}

.navbar  li{
    display: inline-block;
    font-size: 15px;
    font-weight: 500;
    list-style: none;
    
}


#navbar-icon{
    font-size: 25px;
    color:#0E1626;
    z-index: 11;
    cursor: pointer;
}

.container-logo{
    margin-left: 18%;
}